/* CARD STYLES
   ----------------------------- */
@import './keyframes.scss';

.card {
	background: #f1f2ff;
	border-radius: 0;
	border: 0;
	margin-bottom: 20px;
	box-shadow: 0 1px 2px 0 #aaa;
	animation: cardAnimation 500ms ease-in-out forwards;

	hr {
		margin-left: -$panelPadding;
		margin-right: -$panelPadding;
		border-color: #ebeef2; 
	}
}

.card-header,
.card-footer {
	color: $panelHeadingColor;
	padding: $panelPadding $panelPadding;
	border-color: transparent;
	position: relative;
	font-size: $panelHeadingFontSize;
	background-color: transparent;
}

.card-header {
	padding-bottom: 0;
}

.card-body {
	padding: $panelPadding $panelPadding;
}

.card-footer {
	border-color: #dcdcdc;
}

// &.bg-transparent {
// 	background: transparent;
// 	box-shadow: none;

// 	.panel-heading {
// 		background: transparent;
// 		border-bottom: 0;
// 	}
// }

