.app-report div.card-header {
    color: #fff !important;
    padding: 10px;
}
.telegram-report div.card-header {
    background: #0088cc;
}

.instagram-report div.card-header {
    background: radial-gradient(circle at 120% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 100%);
}

.facebook-report div.card-header {
    background: #3b5998;
}

.whatsapp-report div.card-header {
    background: #4AC959;
}

.twitter-report div.card-header {
    background: #1da1f2;
}

.truecaller-report div.card-header {
    background: #0086FE;
}

.telegram-report.card,
.twitter-report.card,
.truecaller-report.card,
.facebook-report.card,
.whatsapp-report.card,
.instagram-report.card {
    background: #fff;
    border-radius: 15px;
}






















