@import '~bootstrap/scss/bootstrap';
@import './components/index';

// ma2web styles
* {
    outline: none;
}
#toggleBtn {
    border: none;
    box-shadow: none;
    color: #0f382f;
    background: linear-gradient(to bottom, #c9e4cc 0%, #f8f8fa 100%);
    // margin-top: -7px;
    padding: 1px 7px 0 3px;
}

.navbar-light .navbar-nav .nav-link {
    color: #1affa5;
}

.rowContainer {
    margin-bottom: 20px;
}

.rowContainer input {
    min-width: 300px;
    margin-right: 10px;
}

.rowSocialContainer > div {
    padding: 0;
}

.rowSocialContainer svg {
    margin-right: 5px;
}

svg.socialIcon {
    border-radius: 50%;
    margin: 0 10px 0 0;
}

.profileInfoItem {
    font-size: 12px;
    font-weight: bold;
    margin: 0;
}

.statusParagraph {
    margin: 0 0 10px 0;
}

.profileInfoItem span {
    font-size: 12px;
    font-weight: lighter;
}

.profileInfo img {
    width: 60px;
    margin-bottom: 10px;
}

.socialHeaderContainer.card-header {
    background: #08c;
    color: #f8fffb;
    border-radius: 0;
    padding: 0.5rem 0 0 0.5rem;
}

.instagramHeaderContainer {
    background: #d6249f;
    background: radial-gradient(
        circle at 150% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285aeb 90%
    );
    color: #f8fffb;
    border-radius: 0 !important;
    padding: 0.5rem 0 0 0.5rem;
}

.facebookHeaderContainer.card-header {
    background: #3b5998;
    color: #f8fffb;
    border-radius: 0;
    padding: 0.5rem 0 0 0.5rem;
}

.whatsappHeaderContainer.card-header {
    background: #4ac959;
    color: #f8fffb;
    border-radius: 0;
    padding: 0.5rem 0 0 0.5rem;
}

.twitterHeaderContainer.card-header {
    background: #2daae2;
    color: #f8fffb;
    border-radius: 0;
    padding: 0.5rem 0 0 0.5rem;
}

.socialHeaderContainer.card-header h5,
.instagramHeaderContainer h5,
.facebookHeaderContainer h5,
.whatsappHeaderContainer h5,
.twitterHeaderContainer h5 {
    margin-bottom: 0.5rem;
}

.profileInfo {
    display: flex;
}
.profileImage {
    margin-right: 10px;
}

.login-page {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 100vh;

    .login-form-row {
        padding-top: 13rem;
        width: 100%;
        margin: auto;

        .login-header-form {
            background-color: #127cd8;
            border-radius: 0;
            padding-bottom: 20px;
            color: #fff;
            font-size: 20px;
        }
    }
    .login-bg {
        position: absolute;
        top: 0;
        z-index: -1;
    }
}

.caseContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    position: relative;

    .caseWrapper {
        width: 24%;
        color: #fff;
        background: #32354e;
        margin-right: 10px;
        margin-bottom: 10px;
        padding: 10px;

        p {
            font-size: 13px;
            margin: 0;
            display: flex;
            justify-content: space-between;
        }

        span {
            color: #8284da;
            font-weight: bold;
        }
    }
}

.rasa-lab {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    width: 180px;
}

.casesHeader {
    margin-bottom: 20px;
}

.scenario-card h5 {
    border-bottom: 1px solid #999;
    padding-bottom: 15px;
    font-weight: bold;
}

.scenario-card p::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, #f0f1fe);
    z-index: 999;
}
.scenario-card p {
    color: #888;
    font-weight: lighter;
    max-height: 172px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.workflow-card p {
    color: #888;
    font-weight: lighter;
    max-height: 172px;
    overflow: hidden;
    padding-left: 1rem;
    font-size: 13px;
}
.loader {
    width: 150px;
    height: 150px;
    text-indent: -9999em;
    margin: 30px auto;
}
.nothing-have-to-show {
    width: 100%;
    color: #eee;
    font-size: 24px;
    text-align: center;
    p {
        width: 40%;
        margin: auto;
        border-bottom: 1px solid #eee;
        padding-bottom: 5px;
    }
}
table.osint-table {
    width: 100%;
    color: #fff;
}
table.osint-table th,
table.osint-table td {
    padding: 6px 10px;
}
table.osint-table thead {
    background: #f0ad4e;
    color: #1c1e2f;
}
table.osint-table tbody tr {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.action-btns button {
    padding: 0 2px;
}
.scenario-info.mb-3 {
    background: #222437;
    padding: 10px 20px 20px;
    color: #f0ad4e;
    box-shadow: 0 0 120px -70px #f0ad4e;
    border: 1px solid #f0ad4e8c;
}
.scenario-info p {
    color: #f0ad4e8c;
}
.workflow-card h6 {
    background: #5bbfdd;
    padding: 5px 8px;
    border-radius: 3px;
}
.workflow-card ul li {
    font-size: 13px;
}
.modal-table {
    font-size: 13px;
}
.modal-table tbody tr {
    background: #f0ad4e5c;
    color: #666;
    border-bottom: 1px solid #f0ad4e !important;
}
.extractors-checkbox .list-group-item {
    padding: 0%;
    padding-left: 15%;
    padding-top: 2%;
}
.scenario-workflow-counts {
    position: absolute;
    background: #1c1e2f;
    p {
        margin: 0;
        padding: 2px 5px;
        border: 1px solid #936f3e;
    }
}
::placeholder {
    color: #ccc !important;
    opacity: 1; /* Firefox */
}
.site-logo-bar .navbar-brand > img {
    height: 40px !important;
    width: 40px !important;
    display: inline-block;
}
.active-proxy {
    width: 10px;
    height: 10px;
    background: #2fb12f;
    border-radius: 50%;
    // margin: auto;
}
.rasa-logo {
    position: absolute;
    width: 140px;
    right: 1%;
    bottom: 1%;
}